.wrapperOuter {
  background-color: var(--ifm-color-content);
  min-height: calc(100vh - var(--ifm-navbar-height));

  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);

  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: calc(var(--ifm-spacing-vertical) * 2);
}

@media screen and (min-width: 1024px) {
  .wrapperOuter {
    padding-left: calc(var(--ifm-spacing-horizontal) * 3);
    padding-right: calc(var(--ifm-spacing-horizontal) * 3);
  }
}

.wrapperMain {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  transform: translateY(var(--ifm-spacing-vertical));
}

@media screen and (min-width: 1024px) {
  .wrapperMain {
    align-items: center;
    transform: none;
  }
}

.main {
  width: 100%;
  display: grid;
  column-gap: var(--ifm-spacing-horizontal);
  row-gap: calc(var(--ifm-spacing-vertical) * 3);
}

@media screen and (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

.wrapperLogos {
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
  justify-self: flex-end;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  column-gap: calc(var(--ifm-spacing-horizontal) * 2);
  row-gap: var(--ifm-spacing-vertical);
}

.headline {
  color: var(--ifm-color-white);
  line-height: 1;
  font-size: var(--ifm-h1-font-size);
}

@media screen and (min-width: 1024px) {
  .headline {
    font-size: calc(var(--ifm-h1-font-size) * 1.5);
  }
}

.tagline {
  color: var(--ifm-color-gray-200);
  font-size: var(--ifm-h3-font-size);
  line-height: 1.125;
}

@media screen and (min-width: 1024px) {
  .tagline {
    font-size: var(--ifm-h2-font-size);
  }
}

.button {
  width: 100%;
  color: var(--ifm-color-white);
  background-color: var(--ifm-color-secondary);
  font-size: var(--ifm-h4-font-size);
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.5rem 1rem;
  margin-top: var(--ifm-spacing-vertical);
  display: inline-block;
}

.button:hover {
  text-decoration: none;
  color: var(--ifm-color-primary);
  background-color: var(--ifm-color-white);
}

@media screen and (min-width: 768px) {
  .button {
    width: auto;
  }
}

.texts {
  order: 2;
}

@media screen and (min-width: 1024px) {
  .texts {
    order: 1;
  }
}

.viz {
  width: 75%;
  height: auto;
  justify-self: center;
  order: 1;
}

@media screen and (min-width: 1024px) {
  .viz {
    width: 100%;
    transform: scale(1.2) translateX(-15%) translateY(-10%);
    order: 2;
  }
}
