.a {
  padding: calc(var(--ifm-spacing-horizontal) * 0.75)
    calc(var(--ifm-spacing-vertical) * 1);
  background-color: var(--ifm-color-blue-50);
  color: var(--ifm-color-content);
  text-decoration: underline;
  font-weight: 800;
  display: inline-block;
}

.a::before {
  content: " ";
  background: url("/img/mouse-pointer.svg");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: var(--ifm-spacing-horizontal);
}
